{% extends "base.html" %}

{% block content %}

<div id="main-container">

    <div class="row">

            {% if message is defined %}
            <div class="col-md-12 message">
                <h3>{{message}}</h3>
            </div>
            {% endif %}

            <div class="col-md-12 naama-tiedot">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">

                        {% for kuva in kuvat %}
                            {% if (kuva.paakuva) %}
                                <div class="naama-kuvabox" style="background:url('{{kuva.url}}') center;background-size: cover;">
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% for kuva in kuvat %}
                            {% if not (kuva.paakuva) %}
                                <div class="naama-kuvabox-thumb col-lg-3 col-md-3 col-sm-4" style="background:url('{{kuva.url}}') center;background-size: cover;">
                                </div>
                            {% endif %}
                        {% endfor %}

                        <!--<div class="naama-kuvabox" style="background:url('{{base_path}}/assets/img/bcony.jpeg') center;background-size: cover;">
                        </div>-->

                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="naama-caption">
                            <p><strong>Nick:</strong> {{kayttaja.nick}}</p>
                            <p><strong>Nimi:</strong> {{kayttaja.nimi}}</p>

                            <a href="{{base_path}}/kayttaja/{{kayttaja.id}}/kuvat/edit"><button type="submit" class="btn btn-default">Hallitse kuvia</button></a>
                            <a href="{{base_path}}/kayttaja/{{kayttaja.id}}/edit"><button type="submit" class="btn btn-default">Muokkaa</button></a>

                            <form method="post" action="{{base_path}}/kayttaja/{{kayttaja.id}}/destroy">
                                <button type="submit" class="btn btn-danger">Poista</button>
                            </form>

                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
    </div>

    {% if user_logged_in %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 kommentit">
            <h3>Kommentit</h3>
            <button type="submit" class="btn btn-primary">Kommentoi</button>
        </div>
        <div class="col-md-3"></div>
    </div>
    {% endif %}

</div>

{% endblock %}
