{% extends "base.html" %}

{% block content %}

  <div class="hakurivi">
    <div class="col-md-12" style="text-align:center;">
      <h1 class="otsikko">Naamamme</h1>
      <input name="haku" class="haku" type="text" placeholder="Hae nimellä tai nickillä..." />
    </div>
  </div>

<div id="main-container" class="etusivu">

  <div class="row">

    {% if message is defined %}
    <div class="col-md-12 message">
      <h3>{{message}}</h3>
    </div>
    {% endif %}

    {% for kayttaja in kayttajat %}
    <div class="col-md-4 col-sm-6 naama-etusivu">
      <div class="naama-kuvabox" style="background:url('assets/img/bcony.jpeg') center;background-size: cover;">
        <a href="{{base_path}}/kayttaja/{{kayttaja.id}}" class="naama-linkki">
        </a>
      </div>
      <div class="naama-caption">
        <h4>{{kayttaja.nick}}</h4>
        <p>{{kayttaja.nimi}}</p>
      </div>
    </div>
    {% endfor %}

  </div>

</div>

<div class="container-fluid">

  <div class="kirjaudu">
    <div class="col-md-12" style="text-align:center;">
      <h3>Kirjaudu</h3>

      <form method="post" action="{{base_path}}/login">
          <p><input  placeholder="Käyttäjätunnus" type="text" name="nick"></p>
          <p><input placeholder="Salasana" type="password" name="salasana"></p>
          <button type="submit" class="btn btn-primary">Kirjaudu</button>
      </form>

      <p><a href="{{base_path}}/add">Ei vielä tunnusta? Liity tästä</a></p>
    </div>
  </div>

</div>

{% endblock %}
