{% extends "base.html" %}

{% block content %}

<div id="main-container">

    <h1>Muokkaa naamaa: Brown ja Cony</h1>

<div class="row">
    <div class="col-md-6">

        <br/>
        <form>
            <div class="form-group">
                <label>Nimi</label>
                <input class="form-control" value="Brown ja Cony" type="text">
            </div>
            <div class="form-group">
                <label>Nick</label>
                <input class="form-control" value="xxx" type="text">
            </div>
            <div class="form-group">
                <label>Kuva</label>
                <input class="form-control" value="Lataa uusi kuva" type="file">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Tallenna</button>
            </div>
        </form>

    </div>
</div>

</div>
{% endblock %}